
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

h1 {
	color: #FF00FF;
	font-family: "Indie Flower", cursive;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #FF00FF;
	font-family: Courier, sans-serif;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

p {
	color: #000;
	background-color: #FFFF00
	font-family: Courier, sans-serif;
	font-style: normal;
	text-align: center;
}

a {
	font-style: italic;
	text-decoration: none;
}

#wrapper {
	background-color: #660033;
	width: 960px;
	margin: 0 auto;
	padding: 
}



