body {
	background-color:yellow;
	text-align: center;
}

h1, h3, {
	color: #00FF00;
	background-color: #FFFF00;
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
}
p {
	color: #0000FF;
	background-color: #FFFF00
	font-family: "Courier New", monospace;
	font-style: italic;
}

a {
	font-style: italic;
	text-decoration: none;
}

hr{
	width: 200px;
}