@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


h1 {
	color: #FF00FF;
	font-family: "Indie Flower", cursive;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	border-bottom: 4px solid black;
}

h2 {
	color: #FF00FF;
	font-family: Courier, sans-serif;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

p {
	color: #000;
	background-color: #FFFF00
	font-size: 20px;
	font-family: courier, sans-serif;
	font-style: normal;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

a {
	font-style: italic;
	text-decoration: none;
}

#wrapper {
	background-color: #660033;
	width: 960px;
	margin: 0 auto;
	padding: 
}

header {
	background-color: #545454;
}

nav {
	font-size: 20px;
	font-style: italic;
	font-family: Georgia, serif;
	background-color: #545454;
	padding: 10px;

}

footer {
	background-color: #545454;
	font-style: italic;
	font-family: Georgia, serif;
	padding: 10px;
}



